body { 
    color: chocolate;
 }
 div p{
    color: coral;
 }

 #thirDiv h1 { background-color: brown; text-align: center;

 }

 #thirDiv h1 {text-align: center;

 }

 #thirDiv p {text-align: center;

 }

 #thirDiv {
    background-color: chocolate;
 }

 #thirDiv {
    padding: 60px;
 }
